@import '_partScss';
$blue: rgb(10, 104, 212);
$font-stack: Helvetica, sans-serif;
@mixin border {
  border: rgb(51, 49, 49) solid 1px;
  // border-radius: 5px;
  border-collapse: collapse;
}
:root {
  body {
    font-family: $font-stack;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
  }
  .one {
    grid-area: header;
  }
  .two {
    grid-area: login;
  }
  .three {
    grid-area: form;
  }
  .four {
    grid-area: main;
  }
  .five {
    grid-area: footer;
  }
  .textGrid {
    min-height: 600px;
    @include border;
    display: grid;
    grid-template-areas:
      'header header header login'
      'form main main main'
      'form main main main'
      'form main main main'
      'form main main main'
      'footer footer footer footer';
    // justify-content: stretch;
    background-color: rgb(71, 39, 189);
    margin: 20px;
    .divGrid {
      // display: flex;
      @include border;
      background-color: rgb(153, 255, 255);
      padding: 10px;
      margin: 2px;
      .item {
        width: 100%;
        align-self: center;
        text-align: center;
      }
    }
  }
}
.form1 {
  display: grid;
  grid-template-columns: 15% auto 20%;
  grid-template-rows: auto auto auto auto 30%;
  // grid-template-rows: auto auto auto auto;
  .inputFields {
    margin: 5px;
  }
}
.btn1 {
  color: rgb(105, 19, 19);
  grid-column: 2/4;
}
.dateL {
  grid-column: 1/1;
}
.dateD {
  grid-column: 2/4;
}
